* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.appBody {
	grid-area: body;
	background-color: #d3d3d3;
	display: grid;
	grid-template-areas:
						/*12x10*/
						'w1 w1 w1 w1 w1 w1 w1 w1 w1 w1'
						'w2 i  i  i  i  i  i  i  i  w3'
						'w2 i  i  i  i  i  i  i  i  w3'
						'w2 i  i  i  i  i  i  i  i  w3'
						'w2 i  i  i  i  i  i  i  i  w3'
						'w2 i  i  i  i  i  i  i  i  w3'
						'w2 i  i  i  i  i  i  i  i  w3'
						'w2 i  i  i  i  i  i  i  i  w3'
						'w2 i  i  i  i  i  i  i  i  w3'
						'w2 i  i  i  i  i  i  i  i  w3'
						'w2 i  i  i  i  i  i  i  i  w3'
						'w4 w4 w4 w4 w4 w4 w4 w4 w4 w4'

}

.i {
	grid-area: i;
	position: relative;
	background-repeat: no-repeat;
	border-radius: 6px;
	border: 13px solid white;
	box-shadow: 6px 6px 10px gray;
}

.wsp1 {
	grid-area: w1;
}

.wsp2 {
	grid-area: w2;
}

.wsp3 {
	grid-area: w3;
}

.wsp4 {
	grid-area: w4;
}

.next {
	opacity: .65;
	cursor: pointer;
	top: 50%;
	right: 5%;
  	width: 0; 
  	height: 0; 
  	border-top: 15px solid transparent;
  	border-bottom: 15px solid transparent; 
  	border-left:15px solid black; 
	z-index: 1;
	position: absolute;
}

.next:hover {
	opacity: .4;
}

.last {
	opacity: .65;
	cursor: pointer;
	top: 50%;
	right: 75%;
  	width: 0; 
  	height: 0; 
  	border-top: 15px solid transparent;
  	border-bottom: 15px solid transparent; 
  	border-right:15px solid black; 
	z-index: 1;
	position: absolute;
}

.last:hover {
	opacity: .4;
}