:root {
	--nav-font: 'Dancing Script', cursive;
}

* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.nav {
	text-transform: lowercase;
	font-size: 1.8em;
	grid-area: nav;
	color: #d3d3d3;
    background: -webkit-linear-gradient(to bottom left, black, rgb(70,70,70));
    background: -o-linear-gradient(to bottom left, black, rgb(70,70,70));
    background: linear-gradient(to bottom left, black, rgb(70,70,70));
	background-size: 100% 100%;
	border-right: 13px solid pink;
	border-left: 13px solid pink;
	display: grid;
	grid-template-rows: 3fr 3fr 1fr 1fr 1fr 1fr 1f70,70,70r 1fr 5fr;
	align-items: start;	
	justify-content: center;			
}

.name {
	position: relative;
	font-family: 'Limelight', cursive;
	font-size: 1.1em;
	justify-self: center;
	top: 100px;
	/*cursor: pointer;*/
}

hr {
	position: relative;
	/*bottom: 50px;*/
	top: 30px;
}

.animals {
	position: relative;
	/*bottom: 50px;*/
	top: 50px;
	font-family: var(--nav-font);
	justify-self: center;
	cursor: default;
}

.culture {
	position: relative;
	/*bottom: 100px;*/
	font-family: var(--nav-font);
	justify-self: center;
	cursor: default;
}
.nature {
	position: relative;
	bottom: 50px;
	font-family: var(--nav-font);
	justify-self: center;
	cursor: default;
}

.hands {
	position: relative;
	bottom: 100px;
	font-family: var(--nav-font);
	justify-self: center;
	cursor: default;
}

.sundial {
	position: relative;
	bottom: 150px;
	font-family: var(--nav-font);
	justify-self: center;
	cursor: default;
}

.about {
	font-family: var(--nav-font);
	justify-self: center;
	/*cursor: pointer;*/
}
